/*---------------------------------------------------------------
uncomment the 1st line to change the background image
change the value of the color to change the color of the links
----------------------------------------------------------------*/

/*body{background-image: url(../images/bg2.jpg);}*/

a, a:active{color: #9bbb35;}
#main-menu ul li a.active, #main-menu ul li.active a{background-color: #9bbb35;}
div.pagination-nogal ul a, div.pagination-nogal ul a:visited, div.pagination-news ul a, div.pagination-news ul a:visited{border-color: #9bbb35; color: #9bbb35;}
div.pagination-nogal ul li.current, div.pagination-news ul li.current{border-color: #9bbb35; background-color: #9bbb35}
div.nav-img ul a, div.nav-img a{color: #9bbb35;}
div.nav-img ul a:hover, div.nav-img a:hover{border-color:#9bbb35; background-color: #9bbb35;}
#admin h3:hover{color: #9bbb35;}
div.detail-download a:hover, div.nav-controls a:hover, div.ss-controls a:hover{background-color: #9bbb35;}
div.pagination a, div.pagination span.current{border-color: #9bbb35;}
div.pagination span.ellipsis{border-color: #9bbb35;}
div.pagination span.current{background-color: #9bbb35; border-color: #9bbb35;}
div.pagination a:hover{border-color: #9bbb35;}

/*
#b45e2c rouge brique
#f09018 orange
#778899 gris-bleu
#9bbb35 vert amande
#9bbb35 vert
*/