* {padding:0; margin:0;}
html {margin-bottom:1px!important; height:100%!important; height:auto;}
body {
	background-color:#333;
	background-attachment:scroll;
	background-image:url(../images/bg1.jpg);
	background-repeat:repeat;
	color:#bbb;
	text-align:center;
	line-height:1.2;	
/*	font-family:Corbel, Verdana, Arial, sans-serif;*/
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	overflow:-moz-scrollbars-vertical;
	padding-top:20px;
	padding-bottom:20px;
}
h4 {
	margin: 10px 0 20px;	
	font-weight: normal;
}
#slideshowpage {
	/* position: relative; */
	width:900px;
	height: 700px;	
	background-color:#292929;
	border: 1px solid #4a4a4a;
	/*text-align:left;*/
	text-align:center;	
	margin: 0 auto;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-khtml-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
}		
#slideshow a img {
	border: 0;
}
#slideshow { 
	color: white;
	text-align: center;
}
#slides {
	width: 100%;
}
.slideimage {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: 0px;
}
#speedcontrol {
	float:right;
	margin: 10px 10px 0;
}
#speed {
	border-radius:3px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px;
}

/* navigation */
#controls { 
	position: relative;
 	background-color: transparent; 
    border: 0px solid #ddd; 
    text-align: center;
    margin: 0 auto; 
    top: 0px;
    padding: 0; 
    width: 217px; 
    height: 42px;
    font-size: 0.8em;
}
#controls2 { 
 	background-color: transparent; 
    border: 0px solid #ddd; 
    text-align: center;
    margin: 0 auto; 
    padding: 0; 
    width: 217px; 
    height: 42px;
    font-size: 0.8em;
}
#prev { 
	display: block;
	width: 46px;
	height: 41px;
	margin: 0px; 
	padding: 0;
	float: left;
	background-image:url(../images/slideshow-controls.png);
	background-position: 0 0;
}
#prev:hover { 
	background-image:url(../images/slideshow-controls.png);
	background-position: 0 -43px;
}
#prev:active { 
	background-image:url(../images/slideshow-controls.png);
	background-position: 0 -86px;
}
#stop { 
	display: block;
	width: 41px;
	height: 41px;
	margin: 0px; 
	padding: 0;
	float: left;
	background-image:url(../images/slideshow-controls.png);
	background-position: -46px 0px;
}
#stop:hover { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -46px -43px;
}
#stop:active { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -46px -86px;
}
#pause { 
	display: block;
	width: 39px;
	height: 41px;
	margin: 0px; 
	padding: 0;
	float: left;
	background-image:url(../images/slideshow-controls.png);
	background-position: -85px 0px;
}
#pause:hover { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -85px -43px;
}
#pause:active { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -85px -86px;
}
#play { 
	display: block;
	width: 41px;
	height: 41px;
	margin: 0px; 
	padding: 0;
	float: left;
	background-image:url(../images/slideshow-controls.png);
	background-position: -126px 0px;
}
#play:hover { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -126px -43px;
}
#play:active { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -126px -86px;
}
#next { 
	display: block;
	width: 50px;
	height: 41px;
	margin: 0px; 
	padding: 0;
	float: left;
	background-image:url(../images/slideshow-controls.png);
	background-position: -167px 0px;
}
#next:hover { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -167px -43px;
}
#next:active { 
	background-image:url(../images/slideshow-controls.png);
	background-position: -167px -86px;
}